name: Release and Publish

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate Version and Changelog
        id: release_note
        run: |
          echo "date=$(date +'%Y.%m.%d')" >> "$GITHUB_OUTPUT"
          echo "short_sha=$(git rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"
          
          LAST_TAG=$(git describe --tags --abbrev=0 2>/dev/null || echo "")
          if [ -z "$LAST_TAG" ]; then
            MESSAGES=$(git log --pretty=format:"- %s")
          else
            MESSAGES=$(git log ${LAST_TAG}..HEAD --pretty=format:"- %s")
          fi
          
          {
            echo "changelog<<EOF"
            echo "$MESSAGES"
            echo "EOF"
          } >> "$GITHUB_OUTPUT"

      - name: Create and Push Tag
        id: create_tag
        run: |
          TAG="v${{ steps.release_note.outputs.date }}-${{ steps.release_note.outputs.short_sha }}"
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git tag -a "$TAG" -m "Release $TAG" -m "${{ steps.release_note.outputs.changelog }}"
          git push origin "$TAG"
          echo "tag=$TAG" >> "$GITHUB_OUTPUT"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Normalize Repo Owner
        id: owner
        run: |
          echo "repo_owner_lowercase=$(echo '${{ github.repository_owner }}' | tr '[:upper:]' '[:lower:]')" >> "$GITHUB_OUTPUT"

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ghcr.io/${{ steps.owner.outputs.repo_owner_lowercase }}/smol-prometheus:${{ steps.create_tag.outputs.tag }}
            ghcr.io/${{ steps.owner.outputs.repo_owner_lowercase }}/smol-prometheus:sha-${{ steps.release_note.outputs.short_sha }}
            ghcr.io/${{ steps.owner.outputs.repo_owner_lowercase }}/smol-prometheus:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Create Github Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.create_tag.outputs.tag }}
          body: ${{ steps.release_note.outputs.changelog }}
          generate_release_notes: false # We use our own collected notes
